<!-- views/view1.html -->
<div class="numbers-container">
    <div class="anniversary-number left-number">10</div> <!-- Số 10 bên trái -->
    <div class="anniversary-number right-number">06</div> <!-- Số 06 bên phải -->
</div>
<div class="gift-box" id="giftBox">
    <div class="box" id="box">
        <div class="box-base">
            <div class="cake-decoration"></div>
        </div>
        <div class="box-lid">
            <div class="cake-decoration"></div>
            <div class="ribbon"></div>
            <div class="heart">
                <i class="fas fa-heart"></i>
            </div>
        </div>
    </div>
</div>
<div class="frames-container" id="framesContainer">
    <div class="flying-frame flying-frame-1">
        <div class="text-overlay"></div>
    </div>
    <div class="flying-frame flying-frame-2">
        <div class="text-overlay"></div>
    </div>
    <div class="flying-frame flying-frame-3">
        <div class="text-overlay"></div>
    </div>
</div>