<!-- views/view2.html -->
<div class="view2-container">
    <div class="film-strip left">
        <div class="film-content">
            <div class="film-frame"><img src="../images/Copilot_20250609_213925.png" alt="Photo 1"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214224.png" alt="Photo 2"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214551.png" alt="Photo 3"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215115.png" alt="Photo 4"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215308.png" alt="Photo 5"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215733.png" alt="Photo 6"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_213925.png" alt="Photo 1"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214224.png" alt="Photo 2"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214551.png" alt="Photo 3"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215115.png" alt="Photo 4"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215308.png" alt="Photo 5"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215733.png" alt="Photo 6"></div>
        </div>
    </div>
    <div class="film-strip right">
        <div class="film-content">
            <div class="film-frame"><img src="../images/Copilot_20250609_213925.png" alt="Photo 1"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214224.png" alt="Photo 2"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214551.png" alt="Photo 3"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215115.png" alt="Photo 4"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215308.png" alt="Photo 5"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215733.png" alt="Photo 6"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_213925.png" alt="Photo 1"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214224.png" alt="Photo 2"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_214551.png" alt="Photo 3"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215115.png" alt="Photo 4"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215308.png" alt="Photo 5"></div>
            <div class="film-frame"><img src="../images/Copilot_20250609_215733.png" alt="Photo 6"></div>
        </div>
    </div>
    
    <div class="birthday-card">
        <div class="birthday-message">
            <p>Hôm nay là ngày thiên thần của anh được nhìn thấy mặt trời, anh chúc em luôn xinh đẹp với tràn ngập niềm vui và hạnh phúc. Cảm ơn em đã luôn đồng hành cùng anh qua nhiều thử thách khó khăn, làm trái tim anh ấm áp mỗi ngày. Anh yêu em nhiều lắm, mong ngày đặc biệt của em thật ý nghĩa ❤️ </p>
        </div>
        <button class="back-button">✧ Quay Lại ✧</button>
    </div>
</div>