<div class="view4-container">
   
    <button class="view4-back-button">✧ Quay Lại ✧</button>
    <div class="wooden-board">
        <!-- Hàng 1: Vuông - Tròn - Vuông - Tròn -->
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_221543.png" alt="Ảnh 1">
            <div class="compliment">Xinh Đẹp</div>
        </div>
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_221904.png" alt="Ảnh 2">
            <div class="compliment">Dịu Dàng</div>
        </div>
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_221950.png" alt="Ảnh 3">
            <div class="compliment">Đảm Đang</div>
        </div>
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_222230.png" alt="Ảnh 4">
            <div class="compliment">Tài Năng</div>
        </div>
        
        <!-- Hàng 2: Tròn - Vuông - Tròn - Vuông -->
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_222434.png" alt="Ảnh 5">
            <div class="compliment">Thông Minh</div>
        </div>
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_222730.png" alt="Ảnh 6">
            <div class="compliment">Chân Thành</div>
        </div>
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_224121.png" alt="Ảnh 7">
            <div class="compliment">Nhiệt Huyết</div>
        </div>
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_224756.png" alt="Ảnh 8">
            <div class="compliment">Mạnh Mẽ</div>
        </div>
        
        <!-- Hàng 3: Vuông - Tròn - Vuông - Tròn -->
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_230252.png" alt="Ảnh 9">
            <div class="compliment">Tinh Tế</div>
        </div>
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_231209.png" alt="Ảnh 10">
            <div class="compliment">Lãng Mạn</div>
        </div>
        <div class="photo-frame square-frame">
            <img src="../images/Copilot_20250609_231221.png" alt="Ảnh 11">
            <div class="compliment">Chung Thủy</div>
        </div>
        <div class="photo-frame round-frame">
            <img src="../images/Copilot_20250609_234438.png" alt="Ảnh 12">
            <div class="compliment">Ngọt Ngào</div>
        </div>
    </div>
</div>